/* ------------------------------------------------------------------------------------------------------ */

    body
    {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }
    
    .background
    {
    background:linear-gradient(to right,rgb(64, 64, 218) ,rgb(47, 47, 136));
    }

   .flowericon
   {
       color: rgb(255, 255, 255);
       font-size: 30px;
       animation: flower;
       animation-duration:2s;
       animation-timing-function: linear; 
       animation-iteration-count: infinite;
   }

   @keyframes flower {
        from{
            transform: rotateZ(0deg);
        }
        to
        {
            transform: rotateZ(-360deg);
        }
   }

   .expresstext
   {
       font-size: 30px;
       font-weight: bold;
       color:white;
   }
   .weathertext
   {
       color:rgb(124, 41, 3);
       font-family: 'lobster',cursive;
   }
   .linkcontent
   {
       color:white;
   }
   .footer
   {
       background-color: rgb(7, 7, 94);
       height: 6rem;
       text-align: center;
       width: 100%;
       margin-top: auto;
       
   }
   .navbar
   {
       margin:0px;
       
   }
   .footer p
   {
       background-color: rgb(7, 7, 94);
       line-height:6rem;
       text-align: center;
       color: white;   
   }
   .footerbartext
   {
       color:white;
   }

@media only screen and (max-width:768px)
{
   
}
@media only screen and (max-width:600px)
{
  
}
  
/* ------------------------------------------------------------------------------------------------------ */
