
{{>header}}
{{>navbar}}

<!-- ----------------------------------------------------- -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- ----------------------------------------------------- -->
            
            <div class="row">
                        <div class="col-md-12">
                            <h2 style="text-align: center;" class="weathertext1 ml-1">Weather Information</h2>
                        </div>

                <div class="col-md-12 my-3 px-4 pb-4 LeftMiddlebox">
                    
                    <!-- ----------------------------------------------------- -->
                    <div class="row">
                        <div class="col-md-6 mt-2 time">
                           <span id="date" class="dayclass">Monday</span>
                        </div>
                        <div class="col-md-6 mt-2 day">
                          <span id="time" class="timeclass">
                            Time
                          </span>
                        </div>
                    </div>
                    <!-- ----------------------------------------------------- -->
                    <br>
                    <form  oninput="GetValue()">
                        <div class="row">
                            <div class="col-md-12 p-0 searchbackground">
                                <input autocomplete="off" id="InputFieldValue" type="text" class="form-control w-100 float-left" name="city" placeholder="Enter your city name">
                                <button type="submit" id="SubmitButton" class=" btn btn-outline-light searchiconbutton bg-none p-0"><i class="fas fa-search-location searchicon"></i></button>

                            </div>
                        </div>
                    </form>


                    <!-- ----------------------------------------------------- -->
                    <div class="row">
                        

                        <div class="col-md-12 my-5 pb-4 WeatherDisplayField2">

                            <div class="row">
                                <div class="col-md-12 py-2 mb-2 WeatherDisplayField" id="maintempfield">
                                    <h1>Scanner</h1>
                                </div>
                            </div>
                        
                        
                          <ul class="list-group my-3">
                              <li class="list-group-item">
                                  <span id="maintemperature">Temperature</span>
                              </li>
                              <li class="list-group-item ">
                                   <span id="tempfh">Temperature FH</span>
                              </li>
                              <li class="list-group-item ">
                                   <span id="citydetails">City Name</span>
                              </li>
                              <li class="list-group-item ">
                                   <span id="statename">State Name</span>
                              </li>
                              <li class="list-group-item ">
                                    <span id="countryname">Country Name</span>
                              </li>
                              <li class="list-group-item ">
                                    <span id="temptype">Temp Type</span>
                              </li>
                              <li class="list-group-item ">
                                    <span id="timedetails">Date & Time</span>
                              </li>
                          </ul>
                        </div>
  
                    </div>
                </div>

               

            </div>
            <!-- ----------------------------------------------------- -->

            <div class="row ">
                 <div class="col-md-12 my-3 px-4 py-4  RightMiddlebox ">
                    <!-- ----------------------------------------------------- -->

                    <div class="row">

                        <div class="col-md-6 imagecolumn">
                        <img src="image/colourlappy.png" alt="" class="img-fluid w-75 my-5 sunrainimage">
                        </div>

                        <div class="col-md-6 textcolumn">
                            <h2 class="bottomClimateText">Soft effect on Climate edition.</h2>
                             <b>It is provide all Climate information related about your city.sit amet consectetur adipisicing elit. Dolorum optio voluptate doloremque doloribus, repudiandae nostrum repellat error atque ab rerum voluptates eius delectus consectetur, perferendis unde ad est, alias laudantium?</b>
                              <h2 class="bottomClimateText">Rainy, Sunny, Cloud Season</h2>
                        </div>
                    </div>
                    <div class="row">
              

                       <div class="col-md-6 textcolumn">
                            <h2 class="bottomClimateText">Soft effect on Climate edition.</h2>
                             <b>It is provide all Climate information related about your city</b> 
                             <h3 class=" bottomClimateText">We provide all country climate information.</h3>

                            <b>The Climate provide all details of your city.</b>
                        </div>

                          <div class="col-md-6 imagecolumn">
                             <img src="image/tech.png" alt="" class="img-fluid w-75 my-5 sunrainimage">
                             <h3 class=" bottomClimateText">We provide all country climate information.</h3>

                            <b>The Climate provide all details of your city.</b>
                        </div>
                    </div>

                           
                    <div class="row">

                        <div class="col-md-6 imagecolumn">
                            <h3 class=" bottomClimateText">We provide all country climate information.</h3>

                           <b>The Climate provide all details of your city.</b>
                        <img src="image/leaf.png" alt="" class="img-fluid w-75 my-5 sunrainimage">
                        <h3 class=" bottomClimateText">Review weather condition of your city.</h3>

                          <b>This illo maxime maiores rerum debitis magni accusamus quo laudantium quos soluta nulla! Aliquam iste quisquam pariatur qui molestias. Climate provide all details of your city.</b>
                        </div>

                        <div class="col-md-6 textcolumn">
                            <h2 class="bottomClimateText">Soft effect on Climate edition.</h2>
                              <b>It is provide all Climate information related about your city</b>
                               <h3 class=" bottomClimateText">We provide all country climate information.</h3>

                            <b>The Climate ipsum dolor sit, amet consectetur adipisicing elit. Omnis nesciunt necessitatibus accusamus. Sint porro, labore autem vel magni nisi consequatur, placeat accusantium mollitia possimus, animi praesentium quibusdam architecto. Explicabo? provide all details of your city.</b>
                        </div>
                    </div>
                    <div class="row">


                       <div class="col-md-6 textcolumn">
                            <h2 class="bottomClimateText">Soft effect on Climate edition.</h2>
                             <b>It is provide all Climate information related about your city</b>
                        </div>

                          <div class="col-md-6 imagecolumn">
                             <img src="image/laptop.png" alt="" class="img-fluid w-75 my-5 sunrainimage">
                             <h3 class=" bottomClimateText">Review weather condition of your city.</h3>

                              <b>The Climate provide all details of your city.</b>
                        </div>
                    </div>

                           

                    <!-- ----------------------------------------------------- -->
                </div>
            </div>
            <!-- ----------------------------------------------------- -->

        </div>
    </div>
</div>
<script src="js/main.js"></script>

{{>footer}}


{{!-- --------------------------------------------------- --}}